.cabecalho {
    background-color: rgb(130, 130, 234);
    color:white;
    display: flex;
    justify-content: space-around;
}
.cabecalho-imagem{
    width: 10%;
}
.cabecalho-lista-item{
    display: inline-block;
}